main {
  display: grid;
  place-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-image: url("imgs/galaxy_background.jpg");
  background-size: cover;
}

hr {
  color: #612fd5;
  background-color: #612fd5;
  height: 3px;
}

.todo-wrapper {
  width: clamp(21rem, 90lvw, 41rem);
  aspect-ratio: 9 / 16;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid #490cd9;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(51 51 51 / 40%);
  backdrop-filter: blur(9px);

  .todo-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 1.7rem;
      text-shadow: 0 0 7px azure;
    }

    img {
      filter: drop-shadow(0 0 9px #8f67ff);
    }
  }

  .todo-creation {
    h2 {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    :last-child {
      position: relative;

      * {
        border-radius: 10px;
        padding: 0.3rem;
        background-color: #3b07be3e;
        border: 2px solid #5c00f0;
      }

      input {
        width: 100%;

        &:focus {
          outline: 2px solid rgb(86, 2, 243);
        }
      }

      button {
        position: absolute;
        right: 0;
        box-shadow: inset 0 0 9px 9px #5c00f0;
      }
    }
  }

  .todo-list {
    flex: 1;
    border: 2px solid #612fd5;
    border-radius: 10px;
    padding: 0.7rem;
    overflow-y: scroll;

    .todo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      gap: 0.5rem;
      border-bottom: 2px solid #612fd5;
      margin-bottom: 1rem;
      padding-bottom: 0.7rem;
      transition: opacity 1s linear;

      button:last-of-type {
        margin-left: auto;
      }

      button {
        background: none;
        border: none;

        img {
          pointer-events: none;
        }
      }

      label {
        margin-left: 0.3rem;
        font-size: 1.1rem;
      }

      input[type="checkbox"] {
        height: 1.1rem;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

@media (width >= 567px) {
  .todo-wrapper {
    aspect-ratio: 16 / 13;
  }
}
